@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  to { transform: rotate(360deg); }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
  }
}